# Bilnov Gallery Configuration

# Directory containing 3D models and assets (defaults to ./data)
DATA_DIR=data

# Bilnov Gallery License Management API Server
LICENSE_SERVER_URL=http://localhost:8000

# Optional Administrative Secret Key for API Status Inquiries
ADMIN_KEY=
