# Bilnov Gallery Configuration

# Directory containing 3D models and assets (defaults to ./data)
DATA_DIR=data

# Bilnov Gallery License Management API Server
LICENSE_SERVER_URL=https://bilnov-gallery.bilnov.com

# Optional Administrative Secret Key for API Status Inquiries
ADMIN_KEY=
